<p-table [value]="data.data" [paginator]="true" [rows]="rows" [(first)]="first" [totalRecords]="data.count"
  [lazy]="true" (onLazyLoad)="loadData($event)">
  <ng-template pTemplate="header">
    <tr>
      <th>Data</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-d>
    <tr>
      <td>{{d}}</td>
    </tr>
  </ng-template>
</p-table>